@model List<Customer>

@{
    ViewData["Title"] = "Home Page";
    int Roecount = 1;
}
<h2>
    <a asp-action="Create" class="btn btn-success">Create New Customer</a>
</h2>

<table class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>ایمیل</th>
            <th>تلفن</th>
            <th>آدرس</th>
            <th>شهر</th>
            <th>استان</th>
            <th>کد پستی</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Roecount</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.State</td>
                <td>@item.Zipcode</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delet" asp-route-id="@item.CustomerId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            Roecount++;
        }
    <tbody>
</table>


